<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truck Scale Ticket</title>
    <link rel="stylesheet" href="teste.css">
    <script>
        function printTicket() {
            window.print();
        }
    </script>
</head>

<body>

    <!-- ---------------------------- -->
    <table style="width: 700px; margin-bottom: 3px;">
        <tr class="td-bordered" style="background-color: rgb(183, 183, 183);">
            <td colspan="4" class="title">
                <div style="display: flex; padding: 4px;">
                    <div style="width: 20%;">
                        <div>Bresola Terraplanagem</div>
                        <div>Fone: (49)3541-0685</div>
                    </div>

                    <div style="width: 60%;">
                        Ticket de Pesagem
                    </div>
                    <div style="width: 20%;">
                        Ticket No. 3500
                    </div>
                </div>
            </td>
        </tr>

        <tr class="td-bordered label">
            <td colspan="4">
                <div style="display: flex;">
                    <div style="width: 10%;">
                        <div class="div-label-right">Placa</div>
                        <div class="div-label-right">Parceiro</div>
                        <div class="div-label-right">Endereço</div>
                    </div>

                    <div style="width: 70%;">
                        <div class="div-label-left">MKA2I59</div>
                        <div class="div-label-left">103 - CAPINZAL - JOSÉ ZORTÉIA</div>
                        <div class="div-label-left">CAPINZAL</div>
                    </div>

                    <div style="width: 10%;">
                        <div class="div-label-right">Data</div>
                        <div class="div-label-right">Peso NF</div>
                        <div class="div-label-right">No NF</div>
                    </div>
                    <div style="width: 10%;">
                        <div class="div-label-left">20/07/2024</div>
                        <div class="div-label-left">25.300</div>
                        <div class="div-label-left">124.236</div>
                    </div>

                </div>
            </td>
        </tr>

        <tr class="td-bordered label">
            <td colspan="4">
                <div style="display: flex;">
                    <div style="width: 10%;">
                        <div class="div-label-right">Motorista</div>
                    </div>
                    <div style="width: 90%;">
                        <div class="div-label-left">56 - LEARCINDO LOPES</div>
                    </div>
                </div>

            </td>
        </tr>

        <tr class="td-bordered label">
            <td colspan="3" class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 21%;">
                        <div class="div-label-right">Produto</div>
                    </div>
                    <div style="width: 90%;">
                        <div class="div-label-left">25 - BASE</div>
                    </div>
                </div>
            </td>
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 30%;">
                        <div class="div-label-right">Tipo</div>
                    </div>
                    <div style="width: 70%;">
                        <div class="div-label-left">SAÍDA</div>
                    </div>
                </div>
            </td>
        </tr>

        <tr class="td-bordered" style="background-color: rgb(183, 183, 183);">
            <td colspan="4" style="text-align: center;">
                <div style="padding: 3px; ">PESAGEM</div>
            </td>
        </tr>
        <tr class="label">
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 50%;" class="div-label-right">Bruto</div>
                    <div style="width: 50%;" class="div-label-left">10.500</div>
                </div>
            </td>
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 50%;" class="div-label-right">Data</div>
                    <div style="width: 50%;" class="div-label-left">21/07/2024</div>
                </div>
            </td>
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 50%;" class="div-label-right">Hora</div>
                    <div style="width: 50%;" class="div-label-left">10:25:15</div>
                </div>
            </td>

            <th class="td-bordered" rowspan="2">
                <div >
                    <div style=" font-size: 12;" >Peso Liquido</div>
                    <div style="font-size: 18px; font-weight: 300;" >19.600</div>
                </div>
            </th>

        </tr>

        <tr class="label">
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 50%;" class="div-label-right">Tara</div>
                    <div style="width: 50%;" class="div-label-left">10.500</div>
                </div>
            </td>
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 50%;" class="div-label-right">Bruto</div>
                    <div style="width: 50%;" class="div-label-left">10.500</div>
                </div>
            </td>
            <td class="td-bordered">
                <div style="display: flex;">
                    <div style="width: 50%;" class="div-label-right">Bruto</div>
                    <div style="width: 50%;" class="div-label-left">10.500</div>
                </div>
            </td>

        </tr>

        <tr>
            <td class="td-bordered label" colspan="3" >
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 5%;"></td>
                        <td colspan="4">Obs.:</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="height:40px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="border-top: 1px solid #6f6b6b; width: 42.5%;">Motorista</td>
                        <td style="width: 5%;"></td>
                        <td style="border-top: 1px solid #6f6b6b; width: 42.5%;">Cliente</td>
                        <td style="width: 5%;"></td>    

                    </tr>
                </table>

            </td>
            <td class="td-bordered" style="width: 175px;">
                <div style="width: 50%;" class="label-sm">Peso Ton</div>
                <div style="width: 50%;" class="label-sm">Valor Unit Prod</div>
                <div style="width: 50%;" class="label-sm">Valor Total Prod</div>
                <div style="width: 50%;" class="label-sm">Valor frete(Km/Ton)</div>
                <div style="width: 50%;" class="label-sm">Valor Total frete</div>
                <div style="width: 50%;" class="label-sm">Total Geral.:</div>
            </td>

        </tr>

    </table>




</body>

</html>