body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.print-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1em;
}

.print-button:hover {
    background-color: #cd958d;
}

.ticket {
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    page-break-inside: avoid; /* Evita a quebra de página no meio do ticket */
}

.header {
    background-color: #d5d4d4;
    padding: 8px;
    border: 1px solid #211414;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.mid-title{
    text-align: center;
    padding: 5px;
    background-color: #d5d4d4;
    border-collapse: collapse;
    border-left: 0.1px solid #919090;
    border-right: 0.1px solid #919090;
    border-bottom: 0.1px solid #919090;
    
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.main-title {
    font-size: 1.5em;
    margin: 0;
}

.center-title {
    text-align: center;
    margin-top: 10px;
}

.center-title h3 {
    margin: 5px 0;
}

.ticket-number, .date-time {
    font-size: 0.8em;
    color: #666;
}



.table-bordered{
    width: 100%;
    border-collapse: collapse;
    border-left: 0.1px solid #919090;
    border-right: 0.1px solid #919090;
    border-bottom: 0.1px solid #919090;   
}

.td-bordered{
    border: 1px solid  #000;
    border-collapse: collapse;
}

.content th, .content td {
    text-align: left;   
    padding: 4px;
}

.content th {
    width: 15%;
    font-weight: normal;
    color: #6a6666;
}


.content td {
    font-weight: normal;
    color: #000;
}

.footer p {
    font-size: 0.8em;
    color: #666;
    text-align: center;
}

.contact {
    margin-top: 5px;
}

@media print {
    .print-button {
        display: none;
    }
    body {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
    .ticket {
        width: 100%;
        box-shadow: none;
        border: none;
        page-break-inside: avoid;
        margin: 0;
        padding: 0;
    }
}
